<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.or.dgit.it.http_study">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".volley.HttpVolleyActivity"
            android:label="@string/title_activity_http_volley"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".parser.DomActivity" />
        <activity android:name=".parser.SaxActivity" />
        <activity android:name=".parser.XMLPullActivity" />
        <activity android:name=".parser.JsonActivity" />
        <activity
            android:name=".recyclerview.RecyclerCardViewActivity"
            android:label="@string/title_activity_recycler_card_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>